.DS_Store
/public/packs*
/public/assets
/public/test
/public/development
yarn-error.log
config/master.key
.vscode
.envrc
.powenv
.byebug_history
config/chewy.yml
npm-debug.log
.smartgf*
/uploads
/csv_file*
.vagrant/
RackMultipart*
mini_magic*
node_modules/
/logo.png*
*.pid
*.bak
*.swp
*.swo
*.todo
.buildpath
.project
.bundle
profiles/*
.yardoc
log/*
/tags
tmp/
.sass-cache/
gems.tags
coverage
spec/reports
.pt
gems.tags
public/uploads/
db/*.sqlite3
gems.tags
.sass-cache/
config/secrets.yml
.bash_history
.bashrc
.irb-history
.mysql_history
.ssh/
.vim/
.viminfo
.vimrc
.idea
.rvmrc
*~
config/application.local.yml
solr/data
solr/pids
sunspot-solr.pid
vendor/assets/components
ansible/librarian_roles/*
ansible/tmp/*
/db/www*.sql
/db/*.bz2
vendor/bundle

/certificates/*
!/certificates/.gitkeep
*.sql.gz
*.sql
