[submodule "vendor/components/react-trello"]
	path = vendor/components/react-trello
  url = https://github.com/BrandyMint/react-trello.git
[submodule "vendor/components/simple-react-comments"]
	path = vendor/components/simple-react-comments
	url = git@github.com:BrandyMint/simple-react-comments.git
