language: ruby
cache: bundler
before_install: gem update --remote bundler
jobs:
  include:
    - stage: Rake
      script: bundle exec rake
    - stage: Rubucop
      script: bundle exec rubocop

services:
  - postgresql
