@keyframes borderBlink {
  from, to {
    border-color: rgba(105, 230, 171, 1);
    box-shadow: inset 0 0 50px 10px rgba(105, 230, 171, 0.5);
  }
  50% {
    border-color: rgba(105, 171, 230, 1);
    box-shadow: inset 0 0 50px 10px rgba(105, 171, 230, 0.5);
  }
}

body.on-dragging {
  .dropzone {
    border: 3px solid #0c79da;
    animation: borderBlink 1s ease-in-out infinite alternate;
  }
}

.dropzone {
  border: 3px solid transparent;
}
