@keyframes borderBlink {
  from, to {
    border-color: rgba(105, 230, 171, 1);
    box-shadow: inset 0 0 50px 10px rgba(105, 230, 171, 0.5);
  }
  50% {
    border-color: rgba(105, 171, 230, 1);
    box-shadow: inset 0 0 50px 10px rgba(105, 171, 230, 0.5);
  }
}

body.on-dragging {
  .dropzone {
    border: 3px solid #0c79da;
    transition: all 0.3s;
    animation: borderBlink 1s ease-in-out infinite alternate;
  }
  .modal-content{
    opacity: 0.8;
    filter: blur(2px);
  }
}

.dropzone {
  border: 3px solid transparent;
  transition: all 0.3s;
}
