/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require nprogress
 *= require nprogress-bootstrap
 *= require nprogress-turbolinks5
 *= require_self
 */

$theme-colors: ( "bootstrap": #563d7c, "simpleform": #00617f );

@import "bootstrap";

body {
  font: 14px/18px 'Helvetica Neue', Arial, Helvetica, sans-serif
}

.table-narrow {
  width: auto;
}

.card-board {
  min-height: 120px;
}

[data-href] {
  cursor: pointer;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}

.task-details {
  display: block;
}

//.best_in_place {
  //border-bottom: 1px dashed gray;
//}

.app-footer {
  padding: 0.5rem 0;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

// Components
@import "components/alert";
@import "components/icon";

// simple_form helpers
@import "simple_form-bootstrap/simple_form-bootstrap";
