.card-dialog-header {
  position: relative;
}

h2.card-dialog-title {
  font-size: 24px;
}

h4.card-dialog-subtitle {
  font-size: 18px;
}

.card-dialog-editable {
  form {
    textarea[name="details"] {
      display: block;
      overflow: hidden;
      word-wrap: break-word;
      resize: none;
      min-height: 108px;
      border: none;
      box-shadow: inset 0 0 0 2px #0079bf;
      margin-bottom: 10px;
    }
  }
}
