body {
  font: 14px/18px 'Helvetica Neue', Arial, Helvetica, sans-serif
}

.table-narrow {
  width: auto;
}
//.best_in_place {
  //border-bottom: 1px dashed gray;
//}

.app-footer {
  padding: 0.5rem 0;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.btn-wide {
	width: 100%;
}
