<!-- Google Tag Manager trigger for Turbolinks -->
 <script type="text/javascript">
 $(document).on('page:change', function(){
   var url = window.location.href;
   var data = {
    'event':'pageView',
    'virtualUrl': url
   };
   if(window['referer'] !== undefined){
      data['pageReferrer'] = window['referer'];
   }else{
      data['pageReferrer'] = document.referrer;
   }
   dataLayer.push(data);
   window['referer'] = window.location.href;
 });
 </script>
 <!-- End Google Tag Manager trigger for Turbolinks -->
