.col-sm-2
  .card.bg-secondary.text-white.card-board[data-href=new_board_url(subdomain: account.subdomain)]
    .card-body.d-flex.align-items-center.justify-content-center
      span= t '.create_new_board'
