.card.bg-light.card-board.link-block[data-url=new_board_url(board: { account_id: account.id }) data-toggle=:remoteModal data-target='#remoteModal']
  .card-body.d-flex.align-items-center.justify-content-center
    .text-dark.card-title= t '.create_new_board'
